.product {
  width: 256px;
  background-color: #F7F7F7;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: border 0.4s;

  &:hover {
    cursor: pointer;
    border: 1px solid rgba(33, 36, 46, 0.4);
  }

  &__img-wrapper {
    position: relative;
    width: 100%;
    height: 256px;
  }

  &__promo {
    position: absolute;
    top: 16px;
    left: 16px;
    background-color: #EB5757;
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: calc(18/14);
    color: #fff;
    border-radius: 100px;

    @media (min-width: 1024px) {
      top: 24px;
      left: 24px;
    }
  }

  &__favorite {
    position: absolute;
    top: 18px;
    right: 16px;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      path {
        fill: rgba(33, 36, 46, 0.4);
      }
    }

    &:active,
    &_active {
      path {
        fill: #D0BC7A;
      }
    }

    @media (min-width: 1024px) {
      top: 26px;
      right: 24px;
    }
  }

  &__color {
    display: block;
    width: 100%;
    height: 12px;
  }

  &__info {
    padding: 16px;
    font-size: 14px;
    line-height: calc(18/14);

    @media (min-width: 1024px) {
      padding: 24px;
    }
  }

  &__title {
    font-family: "Times New Roman";
    font-weight: 700;
    font-style: italic;
    font-size: 18px;
    line-height: 1;
  }

  &__category {
    margin: 8px 0;
  }

  &__prices {
    margin-top: 16px;
    font-family: "Times New Roman";
    font-weight: 700;
    font-style: italic;
    font-size: 18px;
    line-height: 1;
  }

  &__price_old {
    margin-left: 8px;
    opacity: 0.4;
    text-decoration: line-through;
  }
}